.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}
.heading {
  color: lightskyblue;
  font-family: 'Roboto';
}
.paragraph {
  color: greenyellow;
  padding-bottom: 3px;
  padding-top: 3px;
}
.button {
  background-color: blueviolet;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin-top: 3px;
}
.bg {
  margin: 5px;
}
